/* Animations */
@keyframes fadeIn {
    from {
        opacity: 0;
        transform: scale(0.95);
    }

    to {
        opacity: 1;
        transform: scale(1);
    }
}

@keyframes zoomIn {
    from {
        opacity: 0;
        transform: scale(0.6);
    }

    to {
        opacity: 1;
        transform: scale(1);
    }
}

@keyframes slideIn {
    from {
        opacity: 0;
        transform: translateY(-40px);
    }

    to {
        opacity: 1;
        transform: translateY(0);
    }
}

.animate-fade {
    animation: fadeIn 0.3s forwards;
}

.animate-zoom {
    animation: zoomIn 0.35s forwards;
}

.animate-slide {
    animation: slideIn 0.35s forwards;
}

/* Loader animations */
/* Animations */
@keyframes spin {
    0% {
        transform: rotate3d(1, 1, 0, 0deg);
    }

    50% {
        transform: rotate3d(1, 1, 0, 180deg);
    }

    100% {
        transform: rotate3d(1, 1, 0, 360deg);
    }
}

@keyframes pulse {
    from {
        transform: translate(-50%, -50%) scale(0.8);
        opacity: 0.7;
    }

    to {
        transform: translate(-50%, -50%) scale(1.2);
        opacity: 1;
    }
}

/* Loader 2 Animations */
@keyframes spin {
    0% {
        transform: rotate(0deg);
    }

    100% {
        transform: rotate(360deg);
    }
}

@keyframes spinReverse {
    0% {
        transform: rotate(360deg);
    }

    100% {
        transform: rotate(0deg);
    }
}

/* btn shine animation  */
@keyframes shine {
    from {
        left: -75%;
    }

    to {
        left: 125%;
    }
}