.service-card {
    width: 100%;
    background-color: var(--clr-bg-subtle);
    padding: 1rem;
    display: flex;
    flex-direction: column;
    align-items: start;
    border: 1px solid var(--clr-brand-700);
    border-radius: 1rem;
    transition: all ease .2s;

}

.service-card__icon-field {
    background-color: var(--clr-bg-base);
    width: 100%;
    padding: 1rem;
    margin-bottom: .5rem;
    border-radius: 1rem;
    border-left: 5px solid var(--clr-brand-700);
    display: flex;
    justify-content: start;
}

.icon-wrapper {
    background: linear-gradient(145deg, var(--clr-brand-400), var(--clr-brand-700));
    padding: 1rem;
    border-radius: 50%;
    display: flex;
}

.card-icon {
    font-size: 1.6rem;
}

.img-icon {
    width: 100px;
}

.service-card:hover {
    border-color: var(--clr-accent-500);

    .service-card__icon-field {
        border-color: var(--clr-accent-500);
    }

    .icon-wrapper {
        background: linear-gradient(145deg, var(--clr-secondary-500), var(--clr-accent-300));
    }
}