/* ===============================
   SIGNATURE
================================= */
.signature{
  font-family: "Dancing Script", cursive;
  text-transform: capitalize;
  transform: rotate(-4deg);
  margin-top: -2rem;
}
