/* Header.css */
.header {
    background-color: #ffffff;
    padding: 1rem 2rem;
    border-bottom: 1px solid #e5e5e5;
    display: flex;
    justify-content: space-between;
    align-items: center;
    position: sticky;
    top: 0;
    z-index: 50;
}

.header-right {
    display: flex;
    align-items: center;
    gap: 1rem;
}

/* SideNav.css */
.sidenav {
    position: fixed;
    right: 1.5rem;
    top: 30%;
    display: flex;
    flex-direction: column;
    gap: 1.2rem;
    z-index: 40;
}

.sidenav a {
    font-size: 1.3rem;
    color: #6b7280;
    /* gray */
    transition: color 0.3s ease, transform 0.2s ease;
}

.sidenav a:hover {
    color: #2563eb;
    /* blue */
    transform: scale(1.1);
}